body {
    padding: 0px;
    margin: 0px;
    background: #e1e1e1;
    font-family: sans-serif; 
}

.header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 24px; 
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font-size: 16px; 
    text-transform: uppercase;
}

.menu {
    position: sticky; 
    top: 0; 
    background: rgba(3, 168, 183, 0.8);
    width: 100%;
    z-index: 100; 
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none; 
    text-align: left; 
}

.menu ul li {
    display: inline-block; 
}

.menu ul li a {
    display: block;
    padding: 15px 25px; 
    color: white;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 13px;
}

.menu ul li a:hover {
    background: #333;
}


.video-container {
    position: relative;
    z-index: -1;
    top: 0px;
}

.video-container iframe {
    width: 100%;
    height: 90vh;
}

.content {
    padding: 20px 24px; 
    text-align: justify;
    font-size: 20px;
    background-color: silver; 
}